<% @page_title = "予約の詳細" %>
<br>
<%= link_to "編集", [:edit, :admin, @order] %>

<table class="attr">
  <tr>
    <th width="150">会員氏名</th>
    <td><%= Member.find(@order.member_id).name %></td>
  </tr>
  <tr>
    <th>受取日時</th>
    <td><%= @order.order_date %></td>
  </tr>
  <tr>
    <th>弁当サイズ</th>
    <td><%= @lunchbox.size %></td>
  </tr>
  <% @price = 0 %>
  <% @kcal = 0%>
  <% @order.dishes.each do |dish| %>
  <tr>
    <th><%= dish.category %></th>
    <td>
      <%= dish.name %>
      <%= dish.yen %>円
      <% @price += dish.yen %>
      <% @kcal += dish.kcal %>
    </td>
  </tr>
<% end %>

  <tr>
    <th>小計</th>
    <td>
      <%= @price.to_i %>円 &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= @kcal.to_i %>kcal
    </td>
  </tr>
  <tr>
    <th>個数</th>
    <td><%= @order.num %></td>
  </tr>
  <tr>
    <th>合計</th>
    <td><%= (@price * @order.num).to_i%>円</td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= @order.status %></td>
  </tr>
</table>
