<% @page_title = "銘柄一覧" %>

<h1><%= @page_title %></h1>

<%= form_tag :search_stocks, method: :get do %>
<%= select_tag 'q', options_from_collection_for_select(@market, :market, :market) %>
<%= submit_tag "検索" %>
<% end %>




<table class="list">
  <tr>
    <th>証券番号</th>
    <th>企業名</th>
    <th>市場</th>
  </tr>
  
  <% @Pstocks.each do |stock| %>
    <tr>
      <td align="right"><%= stock.num %></td>
      <td><%= link_to stock.name, stock %></td>
      <td><%= stock.market %></td>
    </tr>
  <% end %>

</table>
<%= link_to "前へ" , page_stocks_path(:id => @pages[2] - 1) %>
<% @pages.each do |p| %>
  <%= link_to p , page_stocks_path(:id => p) %>
<% end %>
<%= link_to "次へ" , page_stocks_path(:id => @pages[2] + 1) %>