

<p><%= @stock.name %></p>

<table class="stockdata">
  <tr>
    <th>証券番号</th>
    <td><%= @stock.num %></td>
  </tr>
  <tr>
    <th>銘柄名</th>
    <td><%= @stock.name %></td>
  </tr>
  <tr>
    <th>市場</th>
    <td><%= @stock.market %></td>
  </tr>
  <tr>
    <th>業種</th>
    <td><%= @stock.business %></td>
  </tr>
  <tr>
    <th>HP</th>
    <td><a href="<%= @stock.hp %>" target="_blank"><%= @stock.hp %></a></td>
  </tr>
  <tr>
    <th>Facebook</th>
    <td><a href="<%= @stock.fb %>" target="_blank"><%= @stock.fb %></a></td>
  </tr>
  <tr>
    <th>Twitter</th>
    <td><a href="<%= @stock.tw %>" target="_blank"><%= @stock.tw %></a></td>
  </tr>
</table>