<% @page_title = "銘柄一覧" %>

<h1><%= @page_title %></h1>

<%= form_tag :search1_stocks, method: :get do %>
<% @market = Stock.select("market").uniq %>
<%= select_tag 'q', options_from_collection_for_select(@market, :market, :market), :prompt => "市場" %>
<% @business = Stock.select("business").uniq %>
<%= select_tag 'r', options_from_collection_for_select(@business, :business, :business), :prompt => "業種" %>
<%= submit_tag "検索" %>
<% end %>

<div id="stock_table">
<table>
  <tr>
    <th>証券番号</th>
    <th>企業名</th>
    <th>市場</th>
    <th>業種</th>
  </tr>
  
  <% @stocks.each do |stock| %>
    <tr>
      <td align="right"><%= stock.num %></td>
      <td><%= link_to stock.name, stock %></td>
      <td><%= stock.market %></td>
      <td><%= stock.business %></td>
    </tr>
  <% end %> 
</table>
</div>
<p></p>

<%= will_paginate @stocks %>

