<h1>伸び率ランキング</h1>


<div id="ranking_content">
<div id="graph2" ><%= high_chart("sample", @graph) %></div>


<div class="stock_data">
<table>
  <tr>
    <th>証券番号</th>
    <th>企業名</th>
    <th>市場</th>
    <th>業種</th>
  </tr>
  
  <% @stocks.each do |stock| %>
    <tr>
      <td align="right"><%= stock.num %></td>
      <td><%= link_to stock.name, stock %></td>
      <td><%= stock.market %></td>
      <td><%= stock.business %></td>
    </tr>
  <% end %> 
</table>
</div>
</div>

<p></p>


<p></p>
